<div class="bckground">
  <div class="appTitle">
    <h1>{{title}}</h1>
  </div>
  <div class="gameArea">
    <div class="playBox" id = playArea>
        <div *ngIf="gameSelect == 'snake'">
            <app-snake-game [playAreaWidth] = playAreaWidth [playAreaHeight]= playAreaHeight></app-snake-game>
        </div>
        <div *ngIf="gameSelect == 'tic tac toe'">
            <app-tic-tac-toe [playAreaWidth] = playAreaWidth [playAreaHeight]= playAreaHeight></app-tic-tac-toe>
        </div>
        <div *ngIf="gameSelect == 'bucket fill'"> {{gameSelect}}</div>
    </div>
    <div class="playBtnCover">
      <div class="playBtn" *ngFor="let item of gameTypes" (click)="gameClick($event)">{{item}}</div>
    </div>
  </div>

</div>
